html{
    background-color: #3D52D5;
}

/* Nav */
nav{
    grid-area: menu;
}

.logo{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 20px;
    /* border: solid 1px; */

}

.logo > span{
    font-size: .8em;
    text-align: center;
    color: white;
    font-weight: 800;
    padding: 10px;
    /* border: solid 1px; */
}

.logo > img{
    width: 110px;
    border-radius: 50%;
    align-self: center;
}

/* Fim nav */

/* Container */
.container{
    grid-area: container;
    background-color: white;
    border-radius: 10px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}

.dash, .informacao{
    border: solid 1px;

    width: 50%;
    height: auto;
    padding: 20px;
}

/* Roda pé */
footer{
    grid-area: roda_pe;
}

#grid{
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 300px 1fr;

    grid-template-areas: 
        'menu container'
        'menu roda_pe'
    ;

    padding: 10px;
}
