html{
    background-color: #3D52D5;
}

/* ********** Nav ********** */
nav{
    grid-area: menu;
}

.logo{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 20px;
    margin-right: 5px;

    /* border: solid 1px; */

}

.logo > span{
    font-size: .6em;
    text-align: center;
    align-self: center;
    color: white;
    font-weight: 800;
    padding: 10px;
    /* border: solid 1px; */
}

.logo > img{
    width: 80px;
    border-radius: 50%;
    align-self: center;
}

ul{
    display: flex;
    flex-direction: column;
    /* border: solid yellow 1px; */
    align-items: center;
    list-style: none;
}

ul li{
    margin-top: 40px;
    margin-right: 5px;
}

.menu ul li a img{
    width: 30px;
}
/* ********** Fim nav ********** */


/* ********** Container ********** */
.flex-container{
    display: flex;    
    justify-content: space-between;
    /* border: solid 1px red; */

}

.dash, .informacao{
    /* border: solid 1px yellow; */

    width: 50%;
    height: auto;
    padding: 20px;
}

.dash{
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dash > div{
    display: flex;
    flex-direction: row;
}

.card_series{
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-radius: 10px;

}

.serie2{
    background-color: #DDF5FF;
}

.serie3{
    background-color: #E5E5E5;
}

.serie4{
    background-color: brown;
}

.serie5{
    background-color: #FF7700;
}


.card_series:hover{
    box-shadow: #7e7d7d7e 15px 10px 10px 2px;
    transform: translateY(5px);
    transition-duration: .5s;
    z-index: 1;
    /* transform: translateX(5px); */
}

.card_series > div{
    align-self: center;
}

.card_series > img{
    width: 25%;
    padding: 10px;
    align-self: center;
    /* border: solid 1px; */

}

.card_series, h2, p{
    padding: 5px;
    align-self: center;
}


.card_series p{
    font-size: .6em;
    color: #808080;
}

.card_series a{
    /* border: solid 1px; */
    float: right;
    padding: 5px;
}

.material-symbols-outlined {
    color: #3D52D5;
    align-self: flex-end;

    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48,

}

/* ********** Container ********** */


/* ********** Roda pé ********** */
footer{
    grid-area: roda_pe;
}

#grid{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 300px 1fr;

    grid-template-areas: 
        'menu container'
        'menu roda_pe'
    ;

    padding: 10px;
}
