/* Fontes */
h1,h2, label{
    color: #3D52D5;
    
}

h1, h2{
    text-align: center;

}

h1{
    padding: 5px;
    font-weight: 700;
    font-size: 2em;

}

h2{
    font-weight: lighter;
    font-size: 1.2em;
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;

    margin-left: 50px;
    align-self: center;
    width: 100%;

    /* border: solid 1px; */
}

.formulario{
    display: flex;
    flex-direction: column;
    grid-area: formulario;
    align-self: center;
    min-height: auto;
    padding: 5px;
    margin-top: 50px;
    /* border: solid 1px yellow; */

}


/* grid */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 50vh;

    grid-template-areas: 
        'formulario banner'
        'formulario banner';

    
    
}

label{
    padding: 10px;
}

input{
    border: solid 1px rgba(180, 180, 180, 0.644);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;
    margin-bottom: 20px;

}

input::placeholder{
    color: gray;
    font-size: 1.2em;
    
}

/* Botão */
button{
    border: none;
    background-color: #3D52D5;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    align-self: flex-end;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 4px gray;
}

button:hover{
    background-color: #3141ad;
}

button:active{
    box-shadow: 0px 1px 3px gray;
    transform: translateY(4px);

}

/* Fim botão */

.banner{
    grid-area: banner;
    align-self: center;

    /* border: solid 1px rgb(62, 40, 141); */

}

.banner img{
    width: 80vh;
}







/* ========== MediaQueries =========== */
@media screen and (max-width: 700px){
    
    .banner img{
        width: 45vh;
        /* border: solid 1px; */
    }


    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-template-areas: 
            'banner banner' 
            'fomulario formulario'
        ;

        /* border: solid 1px gold; */

    }

    .formulario{
        padding: 0px;
        margin-top: 50px;
        margin-right: 100px;
        width: 90%;
        /* border: solid 1px; */
    }

    h1{
        font-size: 1.8em;
    }

    h2{
        font-size: 1em;
    }

    form{   
        margin-left: 0px;
        align-self: center;
    }


    input{
        padding: 0px;
        margin-bottom: 20px;
    
    }

    button{
        margin-right: 20px;
        align-self: center;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 

    .formulario{
        margin-top: 0px;
        margin-right: 100px;
        width: 90%;
        padding: 0px;
        /* border: solid 1px; */
    }

    .banner img{
        width: 100%;
    }
 }