.container{
    border: solid 1px;
    padding: 15px;
    display: flex;
}

.nav, .dash{
    border: solid yellow 1px;
}

.nav{
    width: 20%;
    padding: 20px;
}

.dash{
    width: 80%;
}


/* Footer */
footer{
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

footer p{
    color: white;
}

footer p a{
    text-decoration: none;
    color: #f70;
    font-weight: 700;
}